.App {
  height: 100vh;
  padding: 20px;
}
.urunler {
  display: flex;

  justify-content: space-evenly;
  flex-wrap: wrap;
}
h2 {
  color: white;
}
body {
  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sepet {
  list-style-type: none;
  color: white;
}
.sepet > li {
  padding: 10px;
  font-size: 20px;
}
.sepet-temizle {
  padding: 10px;
  background-color: #ff0055;
  color: #000066;
  font-weight: bold;
  margin: 20px 0px;
}
.sepet-temizle:hover {
  cursor: pointer;
}
